# Dependencies
node_modules/
**/node_modules/

# Build Output
dist/
.next/
out/
.firebase/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Environment variables
.env
.env.*.local
# NÃO ignore os arquivos .env de produção e de exemplo
!/.env.production
!/.env.example
!/frontend/.env.production

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?