.tag {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    background-color: var(--gray-light);
    color: var(--gray-medium);
    border-radius: 999px;
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.tag:hover {
    background-color: var(--primary-color);
    color: white;
}